#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT8716
	tristate "FT8716 touchscreen driver"
	depends on TOUCHSCREEN_ROSY
	help
	  Say Y here to compile touchscreen drivers for FocalTech FT8716.

	  If unsure, say Y.
