#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT8006M
	tristate "FT8006M touchscreen driver"
	depends on TOUCHSCREEN_ROSY
	help
	  Say Y here to compile touchscreen drivers for FocalTech FT8006M.

	  If unsure, say Y.
